.pc-entry{
    /* padding: 1em; */
}

.pc-entry img{
    max-width: 100%;
}

.pc-desc{
    position: relative;
    max-height: 9em;
    overflow: hidden;
    transition: max-height 0.5s;
}

/* .pc-desc:after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);

} */
.exp .pc-desc{
    max-height: 50em;
}

.exp .pc-desc:after{
    display: none;
}
.pc-more-txt-1, .pc-more-txt-2{
    pointer-events: none;
}
.pc-more-txt-1{
    display: inline;
}
.pc-more-txt-2{
    display: none;
}
.exp .pc-more-txt-1{
    display: none;
}
.exp .pc-more-txt-2{
    display: inline;
}